@media print {
    body.report {
        margin: 0in;
    }
    a {
        color: blue !important;
    }
    a[href]:after {
        content: none !important;
    }
}

thead {
    display: table-header-group;
}
tbody {
    display: table-row-group;
}
tfoot {
    display: table-row-group;
}

.key_icon {
    display: none; /* hide icon */
    height: 1em;
}
.key {
    width: 9ch;
    white-space: nowrap;
}
.summary {
}
.tests {
}
.tests .summary {
}
.tests .status {
    width: 8ch;
    white-space: nowrap;
}
.risks {
}
.risks .summary {
}
.risks .status {
    width: 38ch;
    white-space: nowrap;
}
.risks .score {
    width: 11ch;
    white-space: nowrap;
}

.panel h3 {
    margin: 0.75em;
}

.logo {
    max-height: 50px;
}

.splash1 {
    max-height: 200px;
}

.splash2 {
    max-height: 200px;
}
