<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
<table class="table table-bordered table-condensed table-striped table-responsive risks">
    <thead>
        <tr>
            <th rowspan="2" class="harm">Harm</th>
            <th rowspan="2" class="hazard">Hazard</th>
            <th colspan="3" class="text-center">Initial</th>
            <th colspan="3" class="text-center">Residual</th>
            <th rowspan="2" class="benefit">Benefit outweigh Risks? Y/N</th>
        </tr>
        <tr>
            <th class="severity">Severity</th>
            <th class="probability">Probability</th>
            <th class="score">Risk Score</th>
            <th class="severity">Severity</th>
            <th class="probability">Probability</th>
            <th class="score">Risk Score</th>
        </tr>
    </thead>
</table>
</body>
</html>
